
// COLORS
$primaryColor: #a2d2ff;
$title: #0b0b15;
$text: #555555;

$neutral:        #bbbbbb;
$neutral-light:  #eeeeee;
$surface:        #f7f7ff;


// RADIUS
$radius-card: 1rem;
$radius-round: 50%;
$radius-badge: .5rem;
$radius-none: 0;


// FONT-WEIGHT
$font-weight-bold: 900;
$font-weight-regular: 400;

// FONT-SIZE
$font-size-huge:      6em;
$font-size-large:     2em;
$font-size-small:     .9em;

$line-height-base:    1.5;


// GAP
$default-gap: 2em;
$small-gap: 1em;
$mini-gap: .5em;


// BREAKPOINTS
$bp-lg-min: 1200px;
$bp-md-max: 959px;
$bp-md-min: 560px;
$bp-sm-max: 559px;
$bp-xs-min: 360px;



// MIXINS
@mixin title {
  font-weight: $font-weight-bold;
  color: $title;
  line-height: $line-height-base;
}

@mixin text {
  line-height: $line-height-base;
  color: $text;
}

@mixin flex-center($direction: row, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}


@mixin shape-before($size, $top, $left: null, $right: null, $opacity: .3,) {
  &::before {
    content: '';
    position: absolute;
    padding: $size;
    background-color: $primaryColor;
    border-radius: $radius-round;;
    opacity: $opacity;
    z-index: 0;
    @if $left  != null { left:  $left; }
    @if $right != null { right: $right; }
    top: $top;
  }
}


