  @import 'variables';

  * {
    font-family: 'Roboto', sans-serif;
  }
  p, span {
    color: $text;
    line-height: $line-height-base;
  }

  main {
    background-color: $surface;
    overflow-x: hidden;
  }

  .container {
    max-width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .section {
    line-height: $line-height-base;
    margin-bottom: 4vw;
    margin-top: 4vw;

    &--light-bg {
      background-color: white;
      margin: 0;
      padding-top: 2em;
    }

    &--dark-bg {
      background-color: $surface;
      margin: 0;
      padding-top: 2em;
    }

    &-border {
      .borders {
        background-image: url('../photos/border-dark.png');
        background-repeat: repeat;
        background-size: auto 100%;
        height: 10px;
      }
    }

    &-title{
      font-size: $font-size-large;
      @include title;
      position: relative;

      &::before {
        opacity: 0.3;
        position: absolute;
        width: 0;
        border-radius: $radius-round;
        content: "";
        padding: 0.625em;
        top: -0.2em;
        left: -0.5em;
        background-color: $primaryColor;
      }
    }
  }

  .special-title {
    @include title;
    margin: 0;

    &__small  { font-size: $font-size-small; }
    &__huge   { font-size: $font-size-huge; }
    &__accent {
      color: $primaryColor;
      font-size: $font-size-large;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 0;

    &-item {
      font-size: $font-size-small;
      list-style: none;

      a {
        color: $text;
        position: relative;
        text-decoration: none;

        &:hover {
          &::after {
            background-color: $primaryColor;
            content: '';
            display: block;
            height: 3px;
            margin-top: 1em;
            position: absolute;
            transition: all 0.3s ease;
            width: 100%;
          }
        }
      }
    }
  }

  .header {
    overflow: hidden;
  }

  .hero {
    display: flex;
    width: 100%;

    &__infos {
      padding: 4vw;
      width: 35em;
    }

    &__media {
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;
      position: relative;
      width: 50%;

      &::before {
        background-color: $primaryColor;
        border-radius: $radius-round;
        content: '';
        opacity: 0.45;
        padding: 20em;
        position: absolute;
        right: -12em;
        top: -8em;
        z-index: 0;
      }
    }

    &__image {
      height: 24em;
      position: relative;
      z-index: 1;
    }
  }


  // Layouts
  .side-image-layout {
    display: flex;
    gap: 2em;

    &__media {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__media-wrapper {
      align-items: flex-end;
      background-color: $primaryColor;
      border-radius: $radius-round;
      display: flex;
      height: 15em;
      justify-content: center;
      overflow-x: hidden;
      width: 15em;

      .side-image-layout__image {
        height: 220px;
        width: 220px;
      }
    }

    &__main-title {
      font-size: $font-size-large;
      @include title;
    }

    &__side-title {
      color: $primaryColor;
      font-weight: $font-weight-regular;
    }
  }

  .grid-compact {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-spacious {
    align-items: center;
    background-color: $surface;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }


  // Compontents
  .card-extended {
    background-color: white;
    border-radius: $radius-card;
    overflow: hidden;
    padding: 0.9em 1.8em 1.8em;

    &__header {
      margin-bottom: 3.125em;
      position: relative;
    }

    &__bg {
      background-color: $primaryColor;
      border-radius: $radius-round;
      height: 11.25em;
      left: -3.125em;
      position: absolute;
      top: -4.375em;
      width: 11.25em;
      z-index: 3;
    }

    &__icon {
      height: 5em;
      position: relative;
      top: 0;
      z-index: 4;
    }

    &__title {
      @include title;
    }

    &__text {
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      margin-bottom: 0;
    }
  }

  .card-small {
    align-items: center;
    background-color: white;
    border-radius: $radius-card;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em;
    width: auto;

    &__icon {
      height: 1.875em;
    }

    &__text {
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      text-align: center;
    }
  }

  .card-post {
    &__image {
      width: 100%;
    }

    &__text,
    &__time,  &__heading {
      font-size: $font-size-small;
      margin: 0;
    }


    &__time {
      color: $text;
    }
  }

  .card-split {
    background-color: $surface;
    border-radius: $radius-card;
    display: grid;
    grid-template-columns: 0.5fr 2.25fr;
    margin-bottom: 0.625em;
    padding: 1.25em 2.5em;

    &__side {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--right {
        border-left: 1px solid $neutral-light;
        padding-left: 3.125em;
      }
    }

    &__date,
    &__title,
    &__text {
      font-size: $font-size-small;
    }

    &__date {
      color: $text;
    }

    &__badge {
      border-radius: $radius-badge;
      color: #fff;
      padding: 0.3125em;
      width: max-content;

      &-primary   { background-color: $primaryColor; }
      &-secondary { background-color: $text; }
    }

    &__title {
      @include title;
    }

    &__text {
      margin: 0;
    }
  }

  .icon-text {
    align-items: center;
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;

    &__icon {
      height: 1.25em;
    }

    &__detail {
      font-weight:  $font-weight-bold;
    }
  }

  .regular-form {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);

    .full-row {
      grid-column: 1 / -1;
    }

    &__input {
      border: 1px solid $neutral;
      border-radius: $radius-none;
      padding: 0.5em;
    }

    &__button {
      background-color: $title;
      border-radius: $radius-badge;
      color: $surface;
      padding: 0.5em;
      width: 75%;
    }
  }

  .google-map {
    filter: grayscale(100%);
    margin-bottom: 2em;
    margin-top: 4vw;
  }

  .site-footer {
    background: white;
    display: flex;
    justify-content: center;

    &__container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 1100px;
    }

    &__social-link {
      height: 2.5em;
    }

    &__copytext {
      color: $text;
    }
  }



  @media (min-width: 1200px) {
    .section, .header{
      display: flex;
      justify-content: center;
    }
    .container{
      width: 1100px;
    }
  }

  @media (max-width: 959px) and (min-width: 560px) {
    .hero__media{
      display: none;
    }
    .side-image-layout{
      display: block;
    }
    .grid-compact {
      display: grid;
      grid-template-columns: 1fr;
    }
    .grid-md-compact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-md-spacious {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid-spacious {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 559px) and (min-width: 360px) {
    .header {
      .container {
        padding: 0px;
      }
    }
    .special-title__huge {
      font-size: 5em;
    }

    .hero__media {
      display: none;
    }
    .side-image-layout {
      display: block;
    }
    .grid-compact {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2em;
    }
    .grid-spacious {
      display: block;
    }

    .card-split {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2em;


      &__side--right {
        border-left: none;
        padding-left: 0;
      }
    }
  }


