@import 'variables';

.container {
  padding-left: 4vw;
  padding-right: 4vw;
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-6 {
  min-width: 50%;
}
.col-9 {
  width: 75%;
}

body {
  margin: 0;
}

// Globálne písmo:
* {
  font-family: 'Roboto', sans-serif;
}

// ========================
// Header
// ========================
.header {
  width: 100%;
  overflow: hidden;

  &__text {
    width: 35rem;
    padding: 4vw;

    .header__title {
      color: $title;
      margin: 0;
      font-size: 2em;
      font-weight: 900;

      &--small {
        font-size: 0.9em;
      }
      &--huge {
        font-size: 6em;
      }
      &--special {
        color: $orange;
      }
    }

    &__description {
      margin-top: 1em;
      color: $text;
      font-size: 0.9em;
    }
  }

  &__menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    &-item {
      list-style: none;
      font-size: 0.9em;
      color: $text;
    }
  }

  &__image-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      padding: 20rem;
      border-radius: 50%;
      top: -8rem;
      right: -12rem;
      background-color: $orange;
      opacity: 0.45;
      z-index: 0;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    height: 24rem;
  }
}

// ========================
// Main a ďalšie sekcie
// ========================

main {
  background-color: $white;
  overflow-x: hidden;
}

.section-border{
  display: flex;

}

  // Sekcia
.section {
  margin-top: 4vw;
  margin-bottom: 4vw;
  line-height: 1.5;
}

.section-title {
  font-size: 1.8em;
  font-weight: 900;
  position: relative;

  &::before {
    opacity: 0.3;
    position: absolute;
    width: 0;
    border-radius: 50%;
    content: '';
    padding: 20px;
    top: -0.2rem;
    left: -0.5rem;
    background-color: $orange;
  }
}

// ========================
// Sekcia Biography
// ========================

.section--biography {
  .section__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section__picture-wrapper {
    background-color: $orange;
    overflow-x: hidden;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .section__name {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
    line-height: 1.5;
  }

  .section__job {
    font-size: 1em;
    font-weight: 400;
    color: $orange;
    margin: 0;
  }

  .section__text {
    padding-left: 2em;
  }

  .section__paragraph {
    margin-bottom: 1em;
    line-height: 1.6;
  }
}

// ========================
// Sekcia Services
// ========================

.section--services {
  .section__cards {
    gap: 2em;
  }

  .section__card {
    padding: 15px 30px 30px 30px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
  }

  .section__card-header {
    margin-bottom: 50px;
    position: relative;
  }

  .section__card-bg {
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 3;
    background-color: $orange;
    border-radius: 50%;
    height: 180px;
    width: 180px;
  }

  .section__card-icon {
    position: relative;
    top: 0;
    z-index: 4;
    height: 80px;
  }

  .section__card-body {
    .section__card-title {
      font-weight: 900;
      font-size: 1em;
    }
    .section__card-text {
      font-weight: 400;
      font-size: 0.9em;
      margin-bottom: 0;
    }
  }
}

// ========================
// Sekcia Awards
// ========================

.section--awards {
  .section__cards {
    gap: 2em;
  }

  .section__card {
    padding: 40px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__card-icon {
    height: 30px;
    margin-bottom: 0;
  }

  .section__card-text {
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }
}

// ========================
// Sekcia Experience
// ========================

.section--experience {
  margin-bottom: 0;
  padding-top: 2rem;
  background-color: white;
  padding-bottom: 10px;

  .section__card {
    margin-bottom: 10px;
    padding: 50px 40px;
    border-radius: 1rem;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 3fr;

    .section__card-side {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .section__card-text {
        margin: 0;
        font-size: 0.9em;

        &--date {
          color: $text;
        }
        &--primary {
          color: white;
          background-color: $orange;
          width: max-content;
          padding: 5px;
          border-radius: 0.5rem;
        }
        &--secondary {
          color: white;
          background-color: $text;
          width: max-content;
          padding: 5px;
          border-radius: 0.5rem;
        }
        &--title {
          font-weight: 900;
          margin-bottom: 15px;
        }
      }
    }
  }
}

// ========================
// Sekcia Portfolio
// ========================

.section--portfolio {
  margin-top: 0;
  padding-top: 2rem;
  background-color: white;

  .section__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .section__card {
    border-radius: 1rem;

    .section__card-header,
    .section__card-body {
      padding: 5px;
    }

    .section__card-heading {
      font-size: 0.9rem;
      margin: 0;
    }

    .section__card-text {
      font-size: 0.8rem;
    }

    .section__card-time {
      font-size: 0.8rem;
      color: $text;
    }
  }
}

// ========================
// Footer
// ========================

footer {
  background-color: $white;
}

.footer {
  padding-top: 4vw;
  margin-bottom: 0;
  line-height: 1.5;

  .footer__title {
    margin-left: 4vw;
  }

  .footer__content {
    padding: 4vw;
    padding-top: 0;
    align-items: center;
    gap: 10px;

    .footer__contact {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;

      .footer__icon {
        height: 20px;
      }

      .footer__detail {
        margin: 0;
        font-weight: bold;
      }
    }

    .footer__form {
      width: 100%;

      .footer__form-group {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

      .footer__form-name,
      .footer__form-email {
        grid-column: span 1;
      }

      .footer__form-subject,
      .footer__form-comment {
        grid-column: span 2;
      }

      .footer__form-submit {
        grid-column: span 2;
      }

      textarea,
      input,
      button {
        max-width: 100%;
        padding: 10px;
        border-radius: 0;
        border: 1px solid $text;
      }

      button {
        width: 30%;
        border-radius: 5px;
        background-color: $title;
        color: $white;
      }
    }
  }
}

.footer__copyright {
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: white;
  display: flex;
  justify-content: space-between;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    gap: 10px;

    .footer__social-link {
      height: 40px;
    }
  }

  .footer__copytext {
    color: $text;
  }
}



@media (min-width: 1200px) {
  .section {
    display: flex;
    justify-content: center;

    .container {
      width: 1100px;
    }
  }

  .header {
    display: flex;
    justify-content: center;

    .container {
      width: 1100px;
    }
  }

  .section--awards {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
      width: 1100px;
    }
  }

  .footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
      width: 1100px;
    }
  }
}

@media (max-width: 959px) and (min-width: 560px) {
  .d-flex {
    flex-direction: column !important;
  }
  .col-9{
    width: 100%;
  }
  .col-4{
    width: auto;
  }
  .header{
    &__text{
      width: 70%;
    }
    .header__image-container{
      display: none;
    }
  }

  .section--biography{
    .section__profile{
      align-self: center;
    }
  }

  .section--awards{
    .col-4{
      width: 33.333%;
    }
    .d-flex{
      flex-direction: row !important;
    }
  }

  .section--portfolio{
    .col-4{
      width: 50%;
    }
  }
  footer{
    .footer__content{
      align-items: start !important;
    }
  }

}

@media (max-width: 559px) and (min-width: 360px) {
  .d-flex {
    flex-direction: column !important;
  }

  .col-9{
    width: auto;
  }
  .col-4, .col-3{
    width: auto;
  }
  .header{
    .header__title--huge{
      font-size: 5rem;
    }
    &__text{
      width: auto;
    }
    .header__image-container{
      display: none;
    }
    .header__menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      li{
        text-align: center;
        background-color: $orange;
        padding: 10px;
        color: black;
      }
    }

  }

  .section--biography{
    .section__profile{
      align-self: center;
    }
    .section__text{
      padding-left: 0px;
    }
  }

  .section--awards{
    .col-4{
      width: auto;
    }
    .d-flex{
      flex-direction: column !important;
    }
  }

  .section--portfolio{
    .col-4{
      width: auto;
    }
  }
  footer{
    .footer__content{
      align-items: start !important;
    }
  }
}
